# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: '^(data/|public/videos/|package-lock\.json|\.next/)'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: npm run lint
        language: system
        files: \.[jt]sx?$
        exclude: ^bin/
    -   id: typescript-check
        name: typescript-check
        entry: npx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
